<DOCTYPE! html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Fill this out!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.7.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill out this sweet form</h1>
    <form action="/my_mad_libs">
      <div class='form-group'>
        <label for='person-one'>A person</label>
        <input id='person-one' name='person-one' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='person-two'>Another person</label>
        <input id='person-two' name='person-two' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='place-one'>A place</label>
        <input id='place-one' name='place-one' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='place-two'>Another place</label>
        <input id='place-two' name='place-two' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='object-one'>An object</label>
        <input id='object-one' name='object-one' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='animal-one'>An animal</label>
        <input id='animal-one' name='animal-one' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='exclamation-one'>An exclamation</label>
        <input id='exclamation-one' name='exclamation-one' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='activity-one'>An activity</label>
        <input id='activity-one' name='activity-one' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn btn-primary'>Click me</button>
    </form>
  </body>
</html>
